.item-section{
@include flexy($dir:column);
align-items: center;
margin-top:20px;
    & .product{
        background-color: #046a92;
        border-radius: 15px;
        padding-bottom: 20px;
        max-width: 600px;
        & h2{
            color:white;
            margin-left:10px;
            width: 80%;
            & span{
                text-transform: uppercase;
            }
        }
        & img{
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }
}