.login{
    @include flexy($dir:column);
    row-gap: 20px;
    & input{
        height: 40px;
       
    }
    ::-webkit-input-placeholder{
        padding-left:10px;
    }

    & button{
        background-color: rgb(2, 184, 135);
        color:white;
        height: 50px;
        border:none;
        font-size: 20px;
        text-transform: uppercase;
    }
    & p{
        font-size: 1.5em;
        text-align: center;
        & span{
            color:rgb(2, 184, 135);
            cursor: pointer;
        }
    }
}